$('#flash').show();
$('#flash').html('<p class="fadeInDown">Add</p>');
setTimeout(function(){
  $('#flash').fadeOut();
  $('#flash').empty();
},1000);

if (<%= @list.tasks.count%> == 1) {
  $('.pakupaku-tasks').html("<%= escape_javascript(render @task) %>");
}
