// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  text-align: center;
}

/*
.first-task {
	border: solid #444 1px;
	width: 60%;
	background: #888;
	padding: 10px;
	border-radius: 5px;
	color: white;
}*/